<%provide(:title, "Contact") %>
    <h1>Contact</h1>
    <p>
      Please feel free to email me if you have any questions about my implementation.
      <a href="mailto:brianyan.95@gmail.com?Subject=Hello" target="_top">Send Mail</a>
    </p>